*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
}

.header {
    background-color: rgb(73, 73, 73);
    height: 55px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 50;
    border-radius: 30px;
}

.nav {

    display:flex;
    justify-content: space-between;
    max-width: 992px;
    height: 55px;

}
#nav-link {

    color: #fff;
    text-decoration: none;

}
/*.nav-menu-linkt {

    color: rgb(224, 13, 13);
    font-family: "Helvetica Neue";
}*/

.logo{
    padding: 0 20px;
    line-height: 5.9;
    
}

.ez {
    width: 50px;
    height: 50px;
    
    border-radius: 30px;
}
.ez:hover{
    background-color: rgb(0, 0, 0);
    transition:0.5s;
}
.nav-menu {

    display:flex;
    margin-right: -220px;
    list-style: none;

}
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 60px;
    
    width: max-content;
}
.nav-menu-link{

    padding: 10px 10px;
    border-radius: 30px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: rgb(0, 0, 0);
    transition:0.5s;
}
.nav-toggle{
    color:white;
    background-color:none;
    border:none;
    font-size: 30px;
    line-height: 60px;
    display: none;
}
@media(max-width:768px){
    body {
        padding-top: 70px;

        }
    
    .header {
        
        height: 60px;
       
    }
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height:60px;
        line-height:3.8;

    }
    .nav-menu{

        flex-direction: column;
        align-items: center;
        margin-right:20px;
        background-color:#2c3e50;
        position:fixed;
        left:0;
        top: 60px;
        width: 100%;
        padding: 20px;
        height: calc(100% - 60px);
        overflow-y: auto;
        left:100%;
        transition: left 0,3s;
    }
    .nav-menu-item{

        line-height: 70px;

    }
    .nav-menu-link:hover
    ,.nav-menu-link_active{
        background: none;
        color:red;
    }
    .nav-toggle{
        
        display: block;
    }
    .nav-menu_visible{
        left: 0;
        

    }
    
}